DB_HOST=localhost
DB_PORT=3306
DB_USER=your_username
DB_PASSWORD=your_password
DB_NAME=your_database

EXPRESS_PORT=3000

JWT_SECRET=your_secret

LOG_LEVEL=info

# ACCOUNT_MULTIPLIER=1
# ACCOUNT_UUID=account_uuid
