
# DATABASE SERVICE

MYSQL_ROOT_PASSWORD=root_password
MYSQL_PASSWORD=app_user_password

# API SERVICE

DB_PASSWORD=app_user_password

JWT_SECRET=jwt_secret
JWT_EXPIRY=15 # JWT expiry time in minutes

